.bg-pale {
  background-color: #d9edf7;
}
.bg-debug {
  color: #fff;
  background-color: #337ab7;
}
.hideme {
  display: none;
}
.utilbar {
  position:absolute;
  right:15px;
  bottom:18px;
}
.svglabel-holder{
  display: flex;
  align-items: center;
}
.svglabel-left{

}
.svglabel-bottom{
  text-align:center;
}
.aligned-row {
    display: flex;
    flex-flow: row wrap;
	width: fit-content;
}
.offset-md-2_5 {
  margin-left:19%;
}
form {
  margin-top:10pt;
}
@import "ember-bootstrap/bootstrap";
