$editor: rgba(217, 237, 247, 1);
$form: rgba(248, 249, 250, 1);
$header: rgba(107, 125, 125, 1);
$color4: rgba(18, 69, 89, 1);
$color5: rgba(89, 95, 114, 1);

.bg-pale {
  background-color: $editor;
}
.bg-debug {
  color: #fff;
  background-color: $color4;
}
.hideme {
  display: none;
}
.utilbar {
  position:absolute;
  right:15px;
  bottom:18px;
}
.svglabel-holder{
  display: flex;
  align-items: center;
}
.svglabel-left{

}
.svglabel-bottom{
  text-align:center;
}
.aligned-row {
    display: flex;
    flex-flow: row wrap;
	width: fit-content;
}
.offset-md-2_5 {
  margin-left:19%;
}
.offset-_5 {
  margin-left:4.1667%;
}
form {
  margin-top: 15px;
}
.form-title {
  padding-top: 15px;
  text-align: center;
  background-color: $header;
  color: #fff;
}

@import "ember-bootstrap/bootstrap";
